<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<title>Mail-Factory Framework </title>
		<%= stylesheet_link_tag 'style' %>
	</head>
	<body>
		<table align="center">
			<tr>
				<td colspan="3" height="20">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td width="20">
					&nbsp;
				</td>
				<td>
					<!-- main part start -->

					<table width="660" align="center">
						<tr>
							<td width="30" height="90" class="td_black">
								&nbsp;
							</td>
							<td width="600" height="90" class="td_black">
								<a href="https://github.com/dimanech/mail-factory" title="mail-factory" target="_blank">
									<img src="images/base_02.png" width="600" height="90" alt="mail-factory" />
								</a>
							</td>
							<td width="30" height="90" class="td_black">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td width="30" class="td_gray">
								&nbsp;
							</td>
							<td width="30" class="td_gray">

								<%= partial "partials/category" %>
								<%= partial "partials/basic-text" %>
								<%= partial "partials/note" %>
								<%= partial "partials/note" %>

							</td>
							<td width="30" class="td_gray">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td width="30" height="20" class="td_gray">
								&nbsp;
							</td>
							<td width="600" height="20" class="td_gray">
								&nbsp;
							</td>
							<td width="30" height="20" class="td_gray">
								&nbsp;
							</td>
						</tr>
						<tr>
							<td width="30" height="70" class="td_black">
								&nbsp;
							</td>
							<td width="600" height="70" class="td_black td_middle td_center">
								<div class="text text_secondary text_light-gray">
									Write to <a class="ln" href="mailto:example@example">support</a>
								</div>
								<div class="text text_secondary text_light-gray">
									To unsubscribe from this mailing list, go to <a href="{{UnsubscribeUrl}}" class="ln" title="unsubscribe" target="_blank">link</a>
								</div>
							</td>
							<td width="30" height="70" class="td_black">
								&nbsp;
							</td>
						</tr>
					</table>


					<!-- main part end -->
				</td>
				<td width="20">
					&nbsp;
				</td>
			</tr>
			<tr>
				<td colspan="3" height="20">
					&nbsp;
				</td>
			</tr>
		</table>
	</body>
</html>
